*{margin: 0;padding: 0;}/*样式重置*/
ul>*{
    float: left;
}
ul{
    *zoom: 1;
}
ul::after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
li{
    list-style: none;/*去除默认标点*/
}
a{
    color: black;
    text-decoration: none;/*去除下划线*/
}
input[type=text]{
    border: none;
    outline: none;
}
