body::-webkit-scrollbar { width: 0 !important; display: none; }
body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }


body{
    background: #666 url("../images/bg.png");
}
.title{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 16px 0;
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px solid;
    box-shadow: 0 3px 5px #333;
}
.container{
    width: 1000px;
    border-radius: 5px;
    margin: 15px auto;
    box-shadow: 0 0 5px 3px #444;
}